.entries-grid {
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  a:nth-of-type(5n + 2) {
    .entry-card {
      background-color: var(--color-yellow);
    }

    .right-side .details,
    .right-side .desc h4 {
      color: var(--color-orange);
    }

    .right-side .details .icon {
      background-color: var(--color-white);
    }
  }

  a:nth-of-type(5n + 3) {
    .entry-card {
      background-color: var(--color-yellow-light);
    }

    .right-side .details,
    .right-side .desc h4 {
      color: var(--color-green);
    }

    .right-side .details .icon {
      background-color: var(--color-green);
      color: var(--color-green-light);
    }
  }

  a:nth-of-type(5n + 4) {
    .entry-card {
      background-color: var(--color-green-light);
    }

    .right-side .details,
    .right-side .desc h4 {
      color: var(--color-orange);
    }

    .right-side .details .icon {
      background-color: var(--color-orange);
      color: var(--color-yellow-light);
    }
  }
  a:nth-of-type(5n + 5) {
    .entry-card {
      background-color: var(--color-green);
    }

    .right-side .details,
    .right-side .desc h4 {
      color: var(--color-yellow-light);
    }

    .right-side .details .icon {
      background-color: var(--color-black);
    }
  }
}

.recent-entries .entries-grid {
  a:nth-of-type(5n + 2) {
    .entry-card {
      background-color: var(--color-yellow-light);
    }

    .right-side .details,
    .right-side .desc h4 {
      color: var(--color-green);
    }

    .right-side .details .icon {
      background-color: var(--color-green);
      color: var(--color-green-light);
    }
  }
}

.no-entries-msg {
  text-align: center;
  color: var(--color-yellow-light);
  padding-bottom: 8rem;

  a {
    color: var(--color-yellow-light);
    text-decoration: underline 2px solid var(--color-yellow-light);
    display: inline-block;
    transition: all 0.3s;
    &:hover {
      transform: translateX(0.5rem);
    }
  }
}
