.entry-card {
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 2rem;
  height: 22rem;
  display: flex;
  gap: 2rem;
  border-radius: var(--border-radius);
  transition: 0.5s all;
  max-width: 40rem;

  @media (max-width: 400px) {
    padding: 1.5rem;
    gap: 1.5rem;
  }

  &.notfound {
    max-width: 34rem;

    .right-side .details,
    .right-side .desc h4 {
      color: var(--color-green);
    }

    .right-side .details .icon {
      background-color: var(--color-black);
      color: var(--color-yellow);
    }
  }

  &:hover {
    transform: translateY(-2rem) rotate(3deg);
  }

  .left-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .divider {
    width: 1px;
    background-color: var(--color-black);
    height: 100%;
  }

  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--color-orange);

      p {
        font-size: 0.75rem;
      }

      .icon {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        background-color: var(--color-yellow);
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          font-size: 1.5rem;
        }
      }
    }

    .desc {
      h4 {
        color: var(--color-orange);
        padding-bottom: 1rem;
      }
      p {
        line-clamp: 5;
        -webkit-line-clamp: 5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
