form.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    &.span-full {
      grid-column: span 2;
    }

    label {
      span {
        color: var(--color-orange);
      }
    }

    input,
    select,
    textarea {
      font-size: 1rem;
      border: none;
      background-color: var(--color-white);
      color: var(--color-black);
      padding: 1rem 1.5rem;
      border-radius: 0.2rem;
      line-height: 1.6;
      height: 3.5rem;

      &:focus {
        border: none;
        outline: 2px solid var(--color-green);
      }
    }

    select {
      appearance: none;
    }
    &.select {
      position: relative;

      &::after {
        position: absolute;
        content: url("../../assets/caret-down.svg");
        pointer-events: none;
        bottom: 0.8rem;
        right: 1.5rem;
      }
    }

    textarea {
      resize: none;
      height: 35rem;
    }
    &.new-button {
      button {
        margin-top: 2rem;
        align-self: center;
      }
    }

    &.edit-buttons {
      flex-direction: row;
      justify-content: space-between;
      button {
        margin-top: 2rem;
      }
    }

    &.submit-msg {
      padding-top: 2rem;
      align-self: center;
      text-align: center;

      p {
        font-size: 1.25rem;

        a {
          color: var(--color-black);
          font-weight: 600;
          display: inline-block;
          transition: 0.3s all;
          i {
            display: inline-block;
            transform: translateY(2px);
          }

          &:hover {
            transform: translateX(0.5rem);
          }
        }
      }
    }

    &.confirm-delete {
      flex-direction: row;
      gap: 2rem;
    }
  }
}
