header {
  padding: 0 1rem;

  .header {
    padding: 2rem 0;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;

    nav {
      display: flex;
      gap: 1rem;
      a {
        color: inherit;
        font-weight: 600;
        padding: 0.5rem 0;
        transition: 0.3s all;

        &:hover {
          transform: translateY(-0.4rem);
        }

        .new {
          padding: 0.3rem 0.8rem;
          border-radius: 2rem;
          gap: 0.5rem;

          i {
            display: inline-block;
            transform: translateY(1px);
          }
        }
      }
    }

    .icon {
      font-size: 3rem;

      &:hover {
        animation: jump 0.3s infinite alternate backwards;
      }

      a {
        color: inherit;
      }
    }
  }
}
