.to-top-btn {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--color-yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  i {
    font-size: 1.5rem;
  }
}
