article.statistics {
  background-color: var(--color-green-light);
  padding: 8rem 1rem 12rem;

  .stats-container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;

    a {
      color: var(--color-black);
    }

    .stat-item {
      background-color: var(--color-yellow-light);
      border-radius: var(--border-radius);
      padding: 2rem;
      transition: 0.3s all;

      &:hover {
        transform: translateY(-1rem);
      }
    }

    p {
      font-size: 1.25rem;

      &.big {
        font-size: 4.5rem;
        font-weight: 600;
        line-height: 1;
      }
      &.italic {
        font-family: var(--font-headings);
        font-weight: 300;

        font-style: italic;
      }

      .bold {
        font-weight: 600;
      }
    }

    .entries {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      @media (max-width: 1000px) {
        grid-column: span 2;
      }
      @media (max-width: 550px) {
        grid-column: span 6;
      }
    }

    .words {
      grid-column: span 3;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background-color: var(--color-black);
      color: var(--color-white);

      @media (max-width: 1000px) {
        grid-column: span 4;
      }
      @media (max-width: 550px) {
        grid-column: span 6;
      }

      p {
        font-style: italic;
      }
    }
    .date-entry {
      background-color: var(--color-green);
      color: var(--color-yellow-light);
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      @media (max-width: 1000px) {
        grid-column: span 3;
      }

      @media (max-width: 800px) {
        grid-column: span 6;
      }
    }

    .continents,
    .countries {
      background-color: var(--color-white);
      grid-column: span 3;
      text-align: center;

      @media (max-width: 800px) {
        grid-column: span 6;
      }

      .graph-label {
        font-weight: 600;
        padding-bottom: 2rem;
      }
    }

    .countries {
      grid-column: span 6;
    }

    .location-type {
      grid-column: span 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--color-yellow);

      @media (max-width: 800px) {
        grid-column: span 6;
      }

      figure {
        font-size: 5rem;
        line-height: 0;
      }
    }

    .year {
      @media (max-width: 1000px) {
        grid-column: span 2;
      }
      @media (max-width: 550px) {
        grid-column: span 6;
      }

      p {
        line-height: 1.4;
      }
    }
  }
}
