.tag-card {
  padding: 1.5rem 1rem;
  background-color: var(--color-yellow-light);
  color: var(--color-black);
  height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 0.5rem;
  border-radius: 0.2rem;
  transition: 0.3s all;

  &:hover {
    transform: translateY(-1rem);
  }

  i {
    font-size: 5.2rem;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.2;
    text-align: center;
  }
}
