.entries-page {
  background-color: var(--color-orange);
  color: var(--color-white);

  .entries-section {
    padding: 0 1rem 6rem 1rem;

    .entries {
      display: flex;
      flex-direction: column;
    }
  }
}
