article.profile-section {
  background-color: var(--color-orange);
  padding: 0 1rem 12rem;

  h1 {
    color: var(--color-white);
  }

  .edit {
    padding: 0 0 1rem;
    display: flex;
    justify-content: flex-end;

    a {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--color-white);
      transition: 0.3s all;

      p {
        font-weight: 600;
        text-decoration: underline 2px var(--color-white);
      }
      i {
        display: inline-block;
        font-size: 2rem;
        text-decoration: none;
      }

      &:hover {
        padding-right: 0.5rem;
      }
    }
  }

  .profile {
    display: grid;
    grid-template-columns: 2fr 1fr;

    .profile-header {
      position: relative;
      background-color: var(--color-green-light);
      padding: 2rem;
      border-radius: 1rem 1rem 0 0;
      border-bottom: 0.25rem solid var(--color-green);

      &:first-child::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 0;
        border-left: dashed 2px var(--color-orange);
      }

      h2 {
        &.align-right {
          text-align: right;
        }
      }
    }

    .profile-body {
      position: relative;
      background-color: var(--color-white);
      padding: 2rem;
      border-radius: 0 0 1rem 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      min-height: 20rem;

      &.big {
        gap: 0 2rem;
        grid-template-rows: 1fr 1fr 1fr;
      }

      &:nth-child(3) {
        background-image: url("../../assets/airplane.svg");
        background-repeat: no-repeat;
        background-position: left 2rem bottom 2rem;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 0;
          border-left: dashed 2px var(--color-orange);
        }
      }

      .info {
        h3 {
          font-size: 1.25rem;
          font-weight: normal;
        }

        p {
          font-size: 1.25rem;
          font-weight: 600;
          line-height: 1.4;
          padding-bottom: 1rem;
        }

        &.right {
          grid-column: 2/3;
        }

        &.padding {
          padding-left: 2rem;
        }
      }

      .stamp {
        align-self: end;
      }

      .icon {
        align-self: end;
        justify-self: end;
        font-size: 4rem;
        line-height: 1;
        transform: translate(0.5rem, 0.5rem);
      }
    }
  }
}

article.statistics {
  background-color: var(--color-green-light);
  padding: 8rem 1rem 12rem;

  .stats-container {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;

    a {
      color: var(--color-black);
    }

    .stat-item {
      background-color: var(--color-yellow-light);
      border-radius: var(--border-radius);
      padding: 2rem;
    }

    p {
      font-size: 1.25rem;

      &.big {
        font-size: 4.5rem;
        font-weight: 600;
        line-height: 1;
      }
      &.italic {
        font-family: var(--font-headings);
        font-weight: 300;

        font-style: italic;
      }

      .bold {
        font-weight: 600;
      }
    }

    .entries {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    .words {
      grid-column: span 3;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background-color: var(--color-black);
      color: var(--color-white);

      p {
        font-style: italic;
      }
    }
    .date-entry {
      background-color: var(--color-green);
      color: var(--color-yellow-light);
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

    .continents,
    .countries {
      background-color: var(--color-white);
      grid-column: span 3;
      text-align: center;

      .graph {
        display: flex;
        justify-content: center;
        gap: 1rem;

        a {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }

        .graph-item {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          gap: 0.5rem;
          width: 6rem;

          &:hover .bar {
            background-color: var(--color-yellow);
          }

          .bar {
            width: 2rem;
            height: 2rem;
            background-color: var(--color-orange);
            text-align: center;
            border-radius: var(--border-radius);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            transition: 0.3s all;
          }

          .label {
            height: 2rem;
            font-size: 0.8rem;
            text-align: center;
            line-height: 1.2;
          }
        }
      }

      .graph-label {
        font-weight: 600;
        padding-bottom: 1rem;
      }
    }

    .countries {
      grid-column: span 6;
    }

    .location-type {
      grid-column: span 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: var(--color-yellow);

      figure {
        font-size: 5rem;
        line-height: 0;
      }
    }
  }
}
