@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap");

/* Component imports*/
@import "./Components/css/Button.css";
@import "./Components/css/EntriesGrid.css";
@import "./Components/css/EntryCard.css";
@import "./Components/css/Footer.css";
@import "./Components/css/Form.css";
@import "./Components/css/FormMsg.css";
@import "./Components/css/Graph.css";
@import "./Components/css/ScrollToTopBtn.css";
@import "./Components/css/StatisticsSection.css";
@import "./Components/css/Header.css";
@import "./Components/css/Tag.css";
@import "./Components/css/TagCard.css";
@import "./Components/css/TagSection.css";

/* Page Imports */
@import "./Pages/css/EntriesPage.css";
@import "./Pages/css/EntryPage.css";
@import "./Pages/css/LandingPage.css";
@import "./Pages/css/NewEntryPage.css";
@import "./Pages/css/NotfoundPage.css";
@import "./Pages/css/ProfilePage.css";

/* CSS Variables */
:root {
  --color-white: #f1f4e6;
  --color-grey: #c6cabc;
  --color-black: #1e261c;
  --color-green: #75a588;
  --color-green-light: #d0e3cc;
  --color-yellow: #f1d261;
  --color-yellow-light: #f6f6b9;
  --color-orange: #d48a2e;
  --color-red: #e1443a;

  --font-body: "Instrument Sans", sans-serif;
  --font-headings: "Instrument Serif", serif;
  --font-cursive: "Cedarville Cursive", cursive;
  --border-radius: 0.2rem;
}

* {
  margin: 0;
  box-sizing: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}

.page-container {
  max-width: 70rem;
  margin: 0 auto;

  &.small {
    max-width: 46rem;
  }
}

/* Typography */
a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 1.6;

  &.small {
    font-size: 0.75rem;
  }

  &.article {
    font-size: 1.25rem;
    line-height: 1.7;

    @media (max-width: 400px) {
      font-size: 1rem;
    }
  }
}

.heading {
  font-size: 6rem;
  font-family: var(--font-headings);
  font-weight: 300;
}

.heading-huge {
  font-size: 12rem;
  font-family: var(--font-headings);
  line-height: 1;
  text-align: center;
  font-weight: 300;

  @media (max-width: 700px) {
    font-size: 8rem;
  }
  @media (max-width: 450px) {
    font-size: 6rem;
  }
}

.heading-article {
  font-size: 8rem;
  font-family: var(--font-headings);
  font-weight: 300;
  line-height: 1.2;

  @media (max-width: 500px) {
    font-size: 6rem;
  }
  @media (max-width: 400px) {
    font-size: 5rem;
  }
}

.heading-italic {
  font-size: 2.5rem;
  font-family: var(--font-headings);
  font-weight: 300;
  font-style: italic;
  line-height: 1.2;

  @media (max-width: 400px) {
    font-size: 2rem;
  }
}

.heading-card {
  font-size: 2.25rem;
  font-family: var(--font-headings);
  font-weight: 300;
  text-align: center;
}

.cursive-article {
  font-size: 4rem;
  font-family: var(--font-cursive);
  line-height: 1.2;
  font-weight: normal;

  @media (max-width: 400px) {
    font-size: 3rem;
  }
}

.cursive-card {
  font-size: 1.5rem;
  font-family: var(--font-cursive);
  line-height: 1.2;
  font-weight: normal;
}

/* Stamp */
.stamp {
  width: 9rem;
  height: 10rem;
  background-image: url("./assets/stamp.svg");
  display: flex;
  justify-content: center;
  align-items: center;

  &.green {
    background-image: url("./assets/stamp-green.svg");
  }

  &.orange {
    background-image: url("./assets/stamp-orange.svg");
  }

  i {
    color: var(--color-white);
    font-size: 5.2rem;
  }
}

/* Animations */
@keyframes jump {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(-0.5rem);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
